<div class="navbar" id="navbar">
  

  <nav>
    <span class="navbar-item">
      <a class="navbar-item{% if page.title == "Home" %} active{% endif %}" href="/">Home</a>
    </span>
    {% comment %}
      The code below dynamically generates a navbar nav of pages with
      `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
      {% if node.title != null %}
        {% if node.layout == "page" %}
          <span class="navbar-item">
            <a class="navbar-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          </span>
        {% endif %}
      {% endif %}
    {% endfor %}

    <!-- <div class="navbar-item">Run by <a href="https://twitter.com/{{ site.author.twitter}}">@{{ site.author.name }}<a/></div> -->
  </nav>

  <!-- <div class="navbar-item"> -->
    <!-- <p> -->
      <!-- &copy; {{ site.time | date: '%Y' }}. All rights reserved. -->
    <!-- </p> -->
  <!-- </div> -->
</div>
