$primary-color: #101010;
$secondary-color: #5f5f5f;
$highlight-color:  #242322;
$companion-color: #afafaf;
$background-color: #ffffff;
$nav-color: #f7f7f7;


$home-width: 960px;
$content-width: 700px;
$content-max-width: 90%;

$main-font: "Helvetica Neue", Helvetica, sans-serif; 