$primary-color: #404040;
$secondary-color: #505050;
$highlight-color:  #22CCEA;
$companion-color: #afafaf;
$background-color: #fafafa;
$nav-color: #fafafa;


$home-width: 960px;
$content-width: 700px;
$content-max-width: 90%;

$main-font: "Roboto Slab", "Helvetica Neue", Helvetica, serif;
$main-font-weight: 300;