.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
    background-color: $nav-color;
  nav {
    max-width: $content-max-width;
    width: $content-width;
    margin: 0 auto;
    text-align: center;
    height: 60px;
    .navbar-item {
      padding: 4px;
      color: $companion-color;
      line-height: 60px;
      font-size: 2rem;
      @include breakpoint(break-s) {
        font-size: 0.9rem;
      }
    }
    .navbar-item::after {
      content: " | ";
      color: $companion-color;
    }
    .navbar-item:last-child::after {
      content: "";
    }
  }
}

.active {
  color: $primary-color !important;
  font-weight: bolder;
}