.head {
  z-index: -1;
  margin: 80px auto;
  background-color: pink;
  width: 100px;
  height: 100px;
  border-radius: 12.5% 12.5% 40% 40%;
}

.eyes {
  padding-top: 20px;
  width: 100%;
  text-align: center;
  height: 20px;
}

.eye {
  display: inline-block;
  width: 30px;
  height: 20px;
  margin: 0 3px;
  background-color: white;
  border-radius: 50%;
}

.nose {
  height: 10px;
  width: 20px;
  margin: 10px auto;
  text-align: center;
  border-top: #666 solid 1px;
  border-radius: 50%;
}

.nostril {
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: black;
}

.mouth {
  display: block;
  width: 70px;
  height: 10px;
  margin: 15px auto;
  background-color: red;
  border-radius: 0 0 50% 50%;
}

.wink {
  animation: blink 4s infinte linear;
  -webkit-animation: blink 4s infinite linear;
}

@keyframes blink {
  0% {
    height: 20px;
    margin: 0 3px;
  }
  48% {
    height: 20px;
    margin: 0 3px;
  }
  50% {
    margin: 10px 3px;
    height: 0%;
  }
  52% {
    height: 20px;
    margin: 0 3px;
  }
  100% {
    height: 20px;
    margin: 0 3px;
  }
}
@-webkit-keyframes blink {
  0% {
    height: 20px;
    margin: 0 3px;
  }
  48% {
    height: 20px;
    margin: 0 3px;
  }
  50% {
    margin: 10px 3px;
    height: 0%;
  }
  52% {
    height: 20px;
    margin: 0 3px;
  }
  100% {
    height: 20px;
    margin: 0 3px;
  }
}
