/*
The main SCSS file for everything, yep
*/
.hll {
  background-color: #ffffcc; }

.c {
  color: #999; }

.err {
  color: #AA0000;
  background-color: #FFAAAA; }

.k {
  color: #006699; }

.o {
  color: #555555; }

.cm {
  color: #0099FF;
  font-style: italic; }

.cp {
  color: #009999; }

.c1 {
  color: #999; }

.cs {
  color: #999; }

.gd {
  background-color: #FFCCCC;
  border: 1px solid #CC0000; }

.ge {
  font-style: italic; }

.gr {
  color: #FF0000; }

.gh {
  color: #003300; }

.gi {
  background-color: #CCFFCC;
  border: 1px solid #00CC00; }

.go {
  color: #AAAAAA; }

.gp {
  color: #000099; }

.gu {
  color: #003300; }

.gt {
  color: #99CC66; }

.kc {
  color: #006699; }

.kd {
  color: #006699; }

.kn {
  color: #006699; }

.kp {
  color: #006699; }

.kr {
  color: #006699; }

.kt {
  color: #007788; }

.m {
  color: #FF6600; }

.s {
  color: #d44950; }

.na {
  color: #4f9fcf; }

.nb {
  color: #336666; }

.nc {
  color: #00AA88; }

.no {
  color: #336600; }

.nd {
  color: #9999FF; }

.ni {
  color: #999999; }

.ne {
  color: #CC0000; }

.nf {
  color: #CC00FF; }

.nl {
  color: #9999FF; }

.nn {
  color: #00CCFF; }

.nt {
  color: #2f6f9f; }

.nv {
  color: #003333; }

.ow {
  color: #000000; }

.w {
  color: #bbbbbb; }

.mf {
  color: #FF6600; }

.mh {
  color: #FF6600; }

.mi {
  color: #FF6600; }

.mo {
  color: #FF6600; }

.sb {
  color: #CC3300; }

.sc {
  color: #CC3300; }

.sd {
  color: #CC3300;
  font-style: italic; }

.s2 {
  color: #CC3300; }

.se {
  color: #CC3300; }

.sh {
  color: #CC3300; }

.si {
  color: #AA0000; }

.sx {
  color: #CC3300; }

.sr {
  color: #33AAAA; }

.s1 {
  color: #CC3300; }

.ss {
  color: #FFCC33; }

.bp {
  color: #336666; }

.vc {
  color: #003333; }

.vg {
  color: #003333; }

.vi {
  color: #003333; }

.il {
  color: #FF6600; }

.css .o, .css .o + .nt, .css .nt + .nt {
  color: #999; }

html, body {
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
  color: #404040;
  letter-spacing: 1px;
  line-height: 170%;
  background-color: #fafafa; }

.container {
  background-color: #fafafa;
  height: 100%;
  margin: 0 auto; }

.page-container {
  max-width: 90%;
  width: 700px;
  margin: 0px auto;
  padding-top: 20px; }

.page {
  margin-top: 60px; }

u {
  text-decoration: none;
  font-style: italic; }

hr {
  border-top: 1px solid #afafaf;
  border-bottom: 0;
  box-shadow: 0; }

a, a:visited {
  text-decoration: underline;
  color: #404040;
  list-style: none;
  font-weight: 400;
  line-height: 150%; }
  a:hover, a:visited:hover {
    text-decoration: underline;
    color: #22CCEA; }

h1, h2, h3, h4, h5, h6 {
  letter-spacing: 4px;
  line-height: 1; }

.home-container {
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 960px;
  max-width: 90%;
  text-shadow: 1px 1px rgba(64, 64, 64, 0.1); }
  .home-container .main-title {
    font-size: 7rem;
    padding: 0;
    margin: 0;
    line-height: 1;
    text-align: center; }
    .home-container .main-title .firstname {
      font-weight: bold;
      letter-spacing: 4px; }
    .home-container .main-title .surname {
      font-weight: lighter;
      letter-spacing: 19px; }
  .home-container hr {
    margin: 40px 0; }
  .home-container .description {
    position: relative;
    height: 140px;
    text-align: center; }
    .home-container .description .left {
      position: relative;
      display: inline-block;
      height: 100%;
      width: 90px;
      font-weight: lighter;
      font-size: 32px;
      padding: 0 4px; }
      .home-container .description .left > div {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        margin-top: -2px; }
    .home-container .description .center {
      position: relative;
      display: inline-block;
      height: 100%;
      font-weight: lighter;
      font-size: 124px;
      width: 60px; }
      .home-container .description .center > div {
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        margin-top: -10px; }
    .home-container .description .right {
      display: inline-block;
      position: relative;
      height: 100%;
      width: 180px;
      font-size: 24px;
      font-weight: bolder;
      text-align: left; }
      .home-container .description .right ul {
        padding: 0;
        position: absolute;
        top: 50%;
        -webkit-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
                transform: translateY(-50%);
        margin-top: -.1px; }
  @media (max-width: 900px) {
    .home-container {
      width: auto; }
      .home-container .main-title {
        font-size: 4rem; }
        .home-container .main-title .surname {
          letter-spacing: 12px; }
      .home-container hr {
        margin: 20px 0; }
      .home-container .description {
        height: 80px; }
        .home-container .description .left {
          font-size: 24px;
          width: 70px; }
        .home-container .description .center {
          font-size: 72px;
          width: 40px; }
          .home-container .description .center > div {
            margin-top: -5px; }
        .home-container .description .right {
          font-size: 14px;
          width: 110px; } }
  @media (max-width: 535px) {
    .home-container .main-title {
      font-size: 3rem; }
      .home-container .main-title .surname {
        letter-spacing: 11px; }
    .home-container hr {
      margin: 20px 0; }
    .home-container .description {
      height: 70px; }
      .home-container .description .left {
        font-size: 20px;
        width: 55px; }
      .home-container .description .center {
        font-size: 54px;
        width: 30px; }
        .home-container .description .center > div {
          margin-top: -5px; }
      .home-container .description .right {
        font-size: 11px;
        width: 90px; } }

.message {
  padding: 20px 0;
  font-style: italic; }

.posts .post {
  position: relative; }
  .posts .post .info {
    word-wrap: break-word;
    padding-bottom: 20px; }
    .posts .post .info *:not(a) {
      color: #afafaf; }
    .posts .post .info .post-date::before, .posts .post .info .post-date::after {
      content: " | "; }
    .posts .post .info .category {
      padding: 4px;
      font-style: italic; }

.bottom-line {
  padding: 20px 0;
  position: relative;
  height: 40px; }
  .bottom-line hr {
    position: absolute;
    width: 100%;
    margin: 0;
    top: 50%; }
  .bottom-line .white-box {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: #fafafa;
    width: 20%;
    padding: 10px;
    margin: 0 auto; }
    .bottom-line .white-box .two-lines {
      width: 100%;
      height: 18px;
      border-top: 1px solid #afafaf;
      border-bottom: 1px solid #afafaf; }

.post-container {
  margin-top: 60px; }

.post-divider {
  margin: 20px 0;
  border: thin none;
  border-bottom: 1px solid #afafaf; }

.images {
  width: 300px;
  margin: 40px auto;
  text-align: center; }
  .images .image {
    width: 64px;
    height: auto;
    margin: 0 16px; }

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
  background-color: #fafafa;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2); }
  .navbar nav {
    max-width: 90%;
    width: 700px;
    margin: 0 auto;
    text-align: center;
    height: 60px; }
    .navbar nav .navbar-item {
      padding: 4px;
      color: #afafaf;
      line-height: 60px;
      font-size: 2rem; }
      @media (max-width: 535px) {
        .navbar nav .navbar-item {
          font-size: 0.9rem;
          padding: 0; } }
    .navbar nav .navbar-item::after {
      content: " | ";
      color: #afafaf; }
    .navbar nav .navbar-item:last-child::after {
      content: ""; }

.active {
  color: #404040 !important;
  font-weight: bolder; }

.footer-break {
  max-width: 90%;
  width: 700px; }

.footer {
  text-align: center; }
